.hamburger_container {
  position: relative;
  z-index: 888;
}

.ham_ham_menuBtn {
  background: transparent;
  border: none;
  color: #b9b9d0;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 110;
  transition: transform 0.3s ease;
}

.ham_ham_menuBtn:hover {
  transform: scale(1.1);
}

/* Overlay menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* background-color: #000319; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease forwards;
  z-index: 105;
}

/* Center nav links */
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.nav li {
  padding: 15px 0px;
}

.nav a {
  color:white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "poppins";
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.nav a:hover {
  color: #e7e7e7;
}

.hamIcon_icon {
  font-size: 35px;
  color: white;
  margin-right: 50px;
  /* z-index: ; */
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive design
@media screen and (max-width: 768px) {
  .nav a {
    font-size: 1.6rem;
  }

  .ham_ham_menuBtn {
    top: 15px;
    left: 15px;
  }
} */
